@font-face {
  font-family: 'Roboto Mono Regular';
  src: url('../../css/fonts/monospace/RobotoMono-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto Mono Bold';
  src: url('../../css/fonts/monospace/RobotoMono-Bold.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Mono Bold Italic';
  src: url('../../css/fonts/monospace/RobotoMono-BoldItalic.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Mono Light';
  src: url('../../css/fonts/monospace/RobotoMono-Light.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Mono Light Italic';
  src: url('../../css/fonts/monospace/RobotoMono-LightItalic.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Mono Thin';
  src: url('../../css/fonts/monospace/RobotoMono-Thin.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Mono Thin Italic';
  src: url('../../css/fonts/monospace/RobotoMono-ThinItalic.ttf') format("truetype");;
}