@font-face {
  font-family: 'Roboto Slab Regular';
  src: url('../../css/fonts/serif/RobotoSlab-Regular.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url('../../css/fonts/serif/RobotoSlab-Bold.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Slab Light';
  src: url('../../css/fonts/serif/RobotoSlab-Light.ttf') format("truetype");;
}

@font-face {
  font-family: 'Roboto Slab Thin';
  src: url('../../css/fonts/serif/RobotoSlab-Thin.ttf') format("truetype");;
}