@font-face {
    font-family: 'Raleway Regular';
    src: url('../../css/fonts/sans_serif/Raleway-Regular.ttf') format("truetype");;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('../../css/fonts/sans_serif/Raleway-Bold.ttf') format("truetype");;
}

@font-face {
    font-family: 'Raleway Bold Italic';
    src: url('../../css/fonts/sans_serif/Raleway-BoldItalic.ttf') format("truetype");;
}

@font-face {
    font-family: 'Raleway Light';
    src: url('../../css/fonts/sans_serif/Raleway-Light.ttf') format("truetype");;
}

@font-face {
    font-family: 'Raleway Light Italic';
    src: url('../../css/fonts/sans_serif/Raleway-LightItalic.ttf') format("truetype");;
}

@font-face {
    font-family: 'Raleway Thin';
    src: url('../../css/fonts/sans_serif/Raleway-ThinItalic.ttf') format("truetype");;
}